manual/book
code/target
live/target
live/hello_world2/target/
live/authentication/target/
live/login_manager/target/
live_day2/first_thread/target/
live_day3/webserver/target/
live_day3/safety/target/
live_day3/reqwest_client/target/
live_day4/webserver_simple/target

